#content-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    color: var(--light-text-color);
}

.cont-compo {
    width: clamp(200px, 90%, 400px);
    padding: 35px;
}

.cont-compo p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

#cont-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 128px;
    margin-bottom: 40px;
}

#cont-img img{
    height: 128px;
    width: 128px;
    object-fit: contain;
}

.btn {
    margin-top: 40px;
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-1 {
    background-color: var(--light-text-color);
    color: var(--dark-text-color) !important;
}

.btn-2 {
    background-color: var(--light-text-color);
    color: var(--dark-text-color) !important;
}

.btn-2:hover {
    background-color: var(--primary-color) !important;
}

@media screen and (max-height: 450px) {
    .cont-compo {
        padding: 10px;
    }

    .cont-compo p {
        font-size: 0.8rem;
    }

    #cont-img {
        margin-bottom: 10px;
    }

    .btn {
        margin: 10px;
        width: calc(100% - 20px)
    }
}

@media screen and (max-height: 300px) {
    .cont-compo {
        padding: 5px;
    }

    #cont-img {
        margin-bottom: 5px;
    }

    .cont-compo p {
        margin: 4px 0;
    }

    .btn {
        margin-top: 5px;
        padding: 8px 0;
        font-size: 1rem;
        font-weight: 400;
    }
}
