<div id="cont-register" class="cont-app-component">
    <div id="cont-form">
        <div id="cont-form2">
            <img class="img-logo" src="assets/logo.png" alt=""/>
            <form class="glass-1" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h2>Registro</h2>
                <div id="content-registro">

                    <div class="content-registro-col">
                        <label for="input-name">Nombre</label>
                        <input type="text" placeholder="Nombre" id="input-name" name="name" formControlName="name"/>
                        <label for="input-username">Correo Electrónico</label>
                        <input type="text" placeholder="Correo" id="input-username" name="user" formControlName="email"/>
                    </div>

                    <span class="vertical-line"></span>

                    <div class="content-registro-col">
                        <label for="input-password">Contraseña</label>
                        <input type="password" placeholder="Contraseña" id="input-password1" name="pass1" formControlName="password"/>
                        <label for="input-password">Repite la Contraseña</label>
                        <input type="password" placeholder="Contraseña" id="input-password2" name="pass2" formControlName="confirmPassword"/>
                    </div>

                </div>
                <button class="btn btn-2" type="submit">Registrarse</button>
                <a routerLink="../login">o Iniciar Sesión</a>
            </form>
        </div>
    </div>
</div>