<div class="cont-balance cont-app-component">
    <app-navbar></app-navbar>

    <div id="content-balance">
        <div class="cont-datos-user">
            <i class="fa-solid fa-arrow-left" (click)="back()"></i>
            <h3 id="h3-up">Cargar Saldo</h3>
            <p>Saldo: <strong>{{ saldo }} $</strong></p>
        </div>
        <div id="cont-form">
            <div class="form glass-1">
                <div class="cont-cant-input">
                    <p style="margin: 8px 5px 0 0;">Cantidad</p>
                    <select [(ngModel)]="cantSel" (ngModelChange)="onSelect()" class="select-input">
                        <option *ngFor="let value of cants" [value]="value">{{ value }}.00 $</option>
                    </select>
                </div>

                <div class="cont-form-stripe">
                    <div id="cont-form-stripe">
                        <form id="payment-form" style="display:none">
                            <div id="card-element"></div>
                            <button id="submit" class="btn btn-2">Actualizar Saldo</button>
                            <p id="card-error" role="alert"></p>
                            <p class="result-message hidden">Payment succeeded</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>