<div class="cont-partida cont-app-component">
    <app-navbar></app-navbar>

    <div id="content-partida-ind">
        <div class="cont-top">
            <div class="cont-btn">
                <button class="btn btn-2" (click)="abandonarPartida()">Abandonar Partida</button>
            </div>
        </div>
        <div id="cont-boards">
            <div class="board-player">
                <app-tablero [player]="player" [tablero]="board" [propio]="true" (pairSelected)="move($event)"></app-tablero>
                <button id="btn-add" (click)="clickAdd()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
