/* You can add global styles to this file, and also import other style files */
:root {
    --back-color: #24222f;
    --light-back-color: #31303e;
    --gray-color: #ececec;
    --light-text-color: #fff;
    --dark-text-color: #000;
    --primary-color: #8fdefc;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/*scroll*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #06090e;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--primary-color);
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.column-50 {
    width: 50%;
}

.glass-1 {
    background: rgba(49, 48, 62, 0.7);
    box-shadow: 0 8px 32px 0 rgba(25, 29, 88, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cont-app-component {
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}

.img-logo {
    position: relative;
    bottom: -3.5rem;
    width: 15rem;
    height: 5rem;
    object-fit: contain;
    z-index: 150;
}

@media screen and (max-height: 300px) {
    .img-logo {
        bottom: -2.5rem;
        height: 3rem;
    }

}